{
  "presets": ["next/babel"],
  "plugins": [
    "@emotion",
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ]
  ]
}
